<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpcode4u.prasanthkumar.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chef"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecipesMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IngredientsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kpcode4u.prasanthkumar.bakingapp.ItemListActivity" />
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kpcode4u.prasanthkumar.bakingapp.RecipesMainActivity" />
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kpcode4u.prasanthkumar.bakingapp.ItemListActivity" />
        </activity>
        <activity
            android:name=".ExoPlayerActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".service.MyWidgetRemoteViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <receiver android:name=".BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>
    </application>

</manifest>